In [1]:
import pandas as pd
import numpy as np

In [2]:
script_df = pd.read_csv('script.csv')

In [5]:
script_lab = script_df[['cast','dialog']]

In [10]:
#Filter for only "main" characters (easier for classification) based on counts in dataset 
script_cnts = script_lab.groupby('cast').count().sort_values(by='dialog',ascending=False)
script_cnts.head()

         dialog
cast
Frasier   21088
Niles     10178
Martin     7629
Daphne     5243
Roz        4735

In [13]:
#Do the filtering
min_samples = 1000
main_chars=script_cnts[script_cnts['dialog']>=min_samples].index
script_filt = script_lab[script_lab['cast'].isin(main_chars)]